<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Siikli Super Mega Shopping List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600i,700i" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="content">
     <img src="./2000px-Camera_retro_font_awesome.svg.png" alt="link_to_scan" style="width:width;height:height;">
      <h1>SIIKLI SUPER SUPER SUPER SHOPPING LIST</h1>
      <p>Welcome to your new shopping list</p>
      <!--<form method="post" action="/listFunctions" id="listForm">-->
        <div id="list">
        </div>
          <div class="item">
            <input type="checkbox">
            <input type="text" placeholder="Product name" id="newProduct" aria-checked="false" role="checkbox" tabindex="0" style="user-select: none;">
          </div>
        <button onclick="printAllToConsole()">print to console</button>
        <button onclick="saveShoppingList()">save list</button>
        <!--<input type="submit">Save list</input>-->
      <!--</form>-->
    </div>
  </body>
<script>

  var shoppingList = {
    'owner':'Pekka',
    'list':[]
  };

  document.getElementById("newProduct")
          .addEventListener("keyup", function(event) {
            event.preventDefault();
            var nextItemIndex = 0;
            if (event.keyCode == 13) {
              var newCheckbox = document.createElement("input");
              newCheckbox.setAttribute("type", "checkbox");
              var newTextInput = document.createElement("input");
              newTextInput.setAttribute("type", "text");
              newTextInput.setAttribute("value", document.getElementById("newProduct").value);
              newTextInput.setAttribute("class", "productLine");
              newTextInput.setAttribute("name", nextItemIndex.toString());
              nextItemIndex++;
              var newItem = document.createElement("div");
              newItem.setAttribute("class", "item");
              newItem.appendChild(newCheckbox);
              newItem.appendChild(newTextInput);
              console.log(document.getElementById("newProduct").value);
              document.getElementById("newProduct").value = "";
              $("#list").append(newItem);
            }
          });

  function printAllToConsole() {
    var stuff = document.getElementById("list")
    //console.log(stuff.getElementsByTagName("div")[0].getElementsByTagName("input")[0].checked);
    for (var i = 0; i < stuff.childElementCount; i++) {
      var productName = stuff.getElementsByTagName("div")[i].getElementsByTagName("input")[1].value;
      var isChecked = stuff.getElementsByTagName("div")[i].getElementsByTagName("input")[0].checked;
      shoppingList.list[i] = {productName:productName,isChecked:isChecked};
      console.log(productName + ", is checked: " + isChecked);
      }
      console.log(shoppingList);
      console.log(JSON.stringify(shoppingList));
    return shoppingList;

  }

  function saveShoppingList() {
    var str = JSON.stringify(printAllToConsole());
    console.log(str);
  }

</script>
</html>
