<!DOCTYPE html>
<html>
  <head>
    <title>Siikli Super Mega Shopping List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="content">
      <h1>SIIKLI SUPER MEGA SHOPPING LIST</h1>
      <p>Welcome to your new shopping list</p>
      <div id="list">
        <div class="item">
          <input type="checkbox">
          <input type="text" value="Product name" id="newProduct">
        </div>
      </div>
    </div>
  </body>
<script>
  document.getElementById("newProduct")
          .addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.keyCode == 13) {
              console.log(document.getElementById("newProduct").value);
              $("#list").prepend("<p>lol</p>");
            }
          });
</script>
</html>
