body {
  padding: 50px;
  font: 14px; font-family: 'Open Sans', sans-serif;
  background-color: #57c32a;
}

h1 {
    text-align: center;
    position: relative;
    font-style: italic;
    color: #57c32a;
    top: 18px;
    left: 10px;
}

p {
    text-align: center;
}

a {
  color: #00B7FF;
}

/*#scannerbutton {
background-image: http://aijaa.com/K7QFjr;
position: top:0; right:0;
}*/
img {
  float: left;
  width: 55px;
  height: 55px;
}

 h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

button {
    background-color: #ffffff;
    border-color: #ffffff;
}

#content {
    width: 75%;
    border-style: solid;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 2%;
    padding: 5pt;
    margin-left: auto;
    margin-right: auto;
}

#list {
    margin-left: auto;
    margin-right: auto;
/*    width: 30%;*/
}

.item {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.productLine, #newProduct {
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: thin;
    /*border-bottom: solid;*/
}

#newProduct {

}