body {
  padding: 50px;
  font: 14px; font-family: 'Bungee Inline', cursive;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

a {
  color: #00B7FF;
}

#content {
    width: 75%;
    border-style: solid;
    background-color: #91ff9f;
    border-color: #91ff9f;
    padding: 5pt;
    margin-left: auto;
    margin-right: auto;
}

#list {
    margin-left: auto;
    margin-right: auto;
/*    width: 30%;*/
}

.item {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.productLine, #newProduct {
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    background-color: #91ff9f;
    border-width: 1pt;
    border-bottom: solid;
}

#newProduct {

}