body {
  padding: 50px;
  font: 14px; font-family: 'Bungee Inline', cursive;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

a {
  color: #00B7FF;
}

/*#scannerbutton {
background-image: http://aijaa.com/K7QFjr;
position: top:0; right:0;
}*/

img {
    width: 50px;
}

button {
    background-color: #91ff9f;
    border-color: #91ff9f;
}

#content {
    width: 75%;
    border-style: solid;
    background-color: #91ff9f;
    border-color: #91ff9f;
    border-radius: 2%;
    padding: 5pt;
    margin-left: auto;
    margin-right: auto;
}

#list {
    margin-left: auto;
    margin-right: auto;
/*    width: 30%;*/
}

.item {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.productLine, #newProduct {
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #91ff9f;
    border-bottom-style: solid;
    border-bottom-width: thin;
    /*border-bottom: solid;*/
}

#newProduct {

}